@import "root.css";
@import "common.blocks/nav/nav.css";
@import "common.blocks/nav/item/item.css";
@import "common.blocks/nav/link/link.css";
@import "common.blocks/nav/link/link_active.css";
@import "common.blocks/nav/list/list.css";
@import "common.blocks/nav/logo/logo.css";
@import "common.blocks/nav/logo-text/logo-title.css";
@import "common.blocks/nav/logo-text/logo-description.css";
@import "common.blocks/hero/back/back.css";
@import "common.blocks/hero/content/content-text.css";
@import "common.blocks/hero/content/content-img.css";
@import "common.blocks/button/button.css";
@import "common.blocks/button/elevated/elevated.css";
@import "common.blocks/button/outlined/outlined.css";
@import "common.blocks/button/outlined/outlined_round.css";
@import "common.blocks/hero/content/content-container.css";
@import "common.blocks/hero/container/container.css";
@import "common.blocks/about/back/back.css";
@import "common.blocks/about/container/container.css";
@import "common.blocks/about/content/content-text.css";
@import "common.blocks/our-friends/container/container.css";
@import "common.blocks/our-friends/back/back.css";
@import "common.blocks/our-friends/content/content-text.css";
@import "common.blocks/our-friends/slider-containers/slider-container.css";
@import "common.blocks/our-friends/slider-containers/slider-inner-container.css";
@import "common.blocks/card/card.css";
@import "common.blocks/zoom/zoom.css";
@import "common.blocks/help/help.css";
@import "common.blocks/help/content/content-text.css";
@import "common.blocks/help/flex-container/flex-container.css";
@import "common.blocks/help/flex-container/flex-item.css";
@import "common.blocks/donat/container/container.css";
@import "common.blocks/donat/content-tex/content-text.css";
@import "common.blocks/donat/card-number/card-number.css";
@import "common.blocks/footer/back/back.css";
@import "common.blocks/footer/container/container.css";
@import "common.blocks/footer/container-text/container-text.css";
@import "common.blocks/footer/footer.css";
@import "common.blocks/footer/link/link.css";
@import "common.blocks/footer/container-column/container-column.css";
@import "common.blocks/button/outlined/disabled.css";
@import "common.blocks/our-friends/pagination-container/pagination-container.css";
@import "pad.blocks/hero/container/container.css";
@import "pad.blocks/hero/content/content-container.css";
@import "pad.blocks/nav/nav.css";
@import "pad.blocks/button/elevated/elevated.css";
@import "pad.blocks/hero/image-container/image-container.css";
@import "pad.blocks/about/container/container.css";
@import "pad.blocks/slider-containers/slider-container.css";
@import "pad.blocks/slider-containers/slider-inner-container.css";
@import "pad.blocks/our-page/container/container.css";
@import "pad.blocks/card/card.css";
@import "pad.blocks/flex-container/flex-container.css";
@import "pad.blocks/flex-container/flex-item.css";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";

@font-face {
  font-family: "Arial";
  src: url("assets/fonts/arial/arial-regular.ttf");
}

@font-face {
  font-family: "Georgia";
  src: url("assets/fonts/georgia/georgia-regular.ttf");
}

* {
  transition: all 0.3s ease-out;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-familyh);
  font-weight: var(--font-weighth);
  letter-spacing: var(--letter-spacing_h);
  margin: 0;
}

h1 {
  font-size: var(--font-sizeh1);
  line-height: var(--line-heighth1);
}

h2 {
  font-size: var(--font-sizeh2);
  line-height: var(--line-heighth2);
}

h3 {
  font-size: var(--font-sizeh3);
}

p {
  font-family: var(--font-familyp);
  font-weight: var(--font-weightp);
  font-size: var(--font-sizep);
  line-height: var(--line-heightp);
  margin: 0;
}

.rotate-180 {
  transform: rotate(180deg);
}

a {
  text-decoration: none;
}
