:root {
  /* Colors */
  --font-color__nav__link: #cdcdcd;
  --font-color__nav__link_active: #fafafa;
  --color__primary_dark: #f1cdb3;
  --color__primary_light: #fddcc4;
  --color__logo-description: #fff;
  --color__hero-section__h1: #fff;
  --color__sections__h2: #545454;
  --color__hero-section__p: #cdcdcd;
  --color__about-section__p: #545454;
  --color__help-section__p: #545454;
  --font-color__button: #292929;
  --font-color__donat-section__p: #b2b2b2;

  /* Background Colors */
  --gradient__hero-background: radial-gradient(
    100% 215.42% at 0% 0%,
    #5b483a 0%,
    #262425 100%
  );
  --color__white-background: #ffffff;
  --color__white-darker-background: #f6f6f6;
  --color__card-background: #fafafa;

  /* Sizes */
  --font-size__nav__link: 0.938rem;
  --font-size__logo-title: 2rem;
  --font-size__logo-description: 0.813rem;
  --font-size__h1: 2.75rem;
  --font-size__h2: 2.18rem;
  --font-size__h3: 1.25rem;
  --font-size__p: 0.938rem;
  --font-size__donat-section__p: 0.75rem;

  /* Line Heghts */
  --line-height__h1: 3.575rem;
  --line-height__h2: 2.813rem;
  --line-height__p: 1.5rem;
  --line-height__button: 1.063rem;
  --line-height__p-115: 1.438rem;
  --line-height__donat-section__p: 1.125rem;

  /* Letter-spacing */
  --letter-spacing_h: 0.06em;

  /* Font Weight */
  --font-weight__h: 400;
  --font-weight__p: 400;
  --font-weight__button: 400;

  /* Font-family:  */
  --font-family__h: Georgia, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-family__p: Arial, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-family__logo-title: Georgia, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-family__logo-description: Arial, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-family__nav__link: Arial, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-family__button: Georgia, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-family__georgia: Georgia, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-family__arial: Arial, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
