:root {
  /* Colors */
  --font-colornavlink: #cdcdcd;
  --font-colornavlink_active: #fafafa;
  --font-colornavlink_dark: #545454;
  --font-colornavlink_active_dark: #292929;
  --colorprimary_dark: #f1cdb3;
  --colorprimary_light: #fddcc4;
  --colorlogo-description: #fff;
  --colorhero-sectionh1: #fff;
  --colorsectionsh2: #545454;
  --colorhero-sectionp: #cdcdcd;
  --colorabout-sectionp: #545454;
  --colorhelp-sectionp: #545454;
  --font-colorbutton: #292929;
  --font-colordonat-sectionp: #b2b2b2;
  --font-colorfooterh: #fff;
  --color-element_disabled: #cdcdcd;

  /* Background Colors */
  --gradienthero-background: radial-gradient(
    100% 215.42% at 0% 0%,
    #5b483a 0%,
    #262425 100%
  );
  --gradientfooter-background: radial-gradient(
    110.67% 538.64% at 5.73% 50%,
    #513d2f 0%,
    #1a1a1c 100%
  );
  --colorwhite-background: #ffffff;
  --colorwhite-darker-background: #f6f6f6;
  --colorcard-background: #fafafa;

  /* Sizes */
  --font-sizenavlink: 0.938rem;
  --font-sizelogo-title: 2rem;
  --font-sizelogo-description: 0.813rem;
  --font-sizeh1: 2.75rem;
  --font-sizeh2: 2.18rem;
  --font-sizeh3: 1.25rem;
  --font-sizep: 0.938rem;
  --font-sizedonat-sectionp: 0.75rem;

  /* Line Heghts */
  --line-heighth1: 3.575rem;
  --line-heighth2: 2.813rem;
  --line-heightp: 1.5rem;
  --line-heightbutton: 1.063rem;
  --line-heightp-115: 1.438rem;
  --line-heightdonat-sectionp: 1.125rem;

  /* Letter-spacing */
  --letter-spacing_h: 0.06em;

  /* Font Weight */
  --font-weighth: 400;
  --font-weightp: 400;
  --font-weightbutton: 400;

  /* Font-family:  */
  --font-familyh: Georgia, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-familyp: Arial, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-familylogo-title: Georgia, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-familylogo-description: Arial, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-familynavlink: Arial, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-familybutton: Georgia, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-familygeorgia: Georgia, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-familyarial: Arial, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
