#about h2 {
  color: var(--colorsectionsh2);
  line-height: var(--line-heighth2);
}

#about p {
  color: var(--colorabout-sectionp);
  font-family: var(--font-familyp);
}

#about article {
  display: flex;
  max-width: 26.875rem;
  flex-direction: column;
  gap: 1.625rem;
}
