#donat h2 {
  max-width: 20rem;
}

#donat h2,
h3,
h4 {
  color: var(--color__sections__h2);
}

#donat h3 {
  font-size: var(--font-size__p);
}

#donat p {
  color: var(--font-color__donat-section__p);
  font-style: italic;
  font-size: var(--font-size__donat-section__p);
  line-height: var(--line-height__donat-section__p);
}
