.button__outlined_disabled {
  color: var(--color-element_disabled);
  border: 2px solid var(--color-element_disabled);
}

.button__outlined_disabled:hover {
  pointer-events: none;
  background-color: transparent;
}

.button__outlined_disabled-elevated {
  pointer-events: none;
  background-color: var(--color__primary_dark);
}
