.button__outlined {
  background-color: transparent;
  border: 2px solid var(--color__primary_light);
}

.button__outlined:hover {
  background-color: var(--color__primary_light);
  cursor: pointer;
}

#our-friends .button__outlined.width {
  width: 11.688rem;
}
