@media (max-width: 1279.9px) {
  .hero__container {
    /* padding-top: 3.75rem; */
    margin-left: 70px;
    margin-right: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 75rem;
  }
}
