.help__flex-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  min-width: 10.5rem;
}

#help img {
  width: 3.75rem;
  height: 3.75rem;
}
