.footer__container .footer__container-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8.375rem;
}

.footer__container-text h2 {
  color: var(--font-colorfooterh);
}
