.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-container {
  display: flex;
}

.slider-wrapper {
  display: flex;
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-prev {
  left: 0;
}

.slider-next {
  right: 0;
}
