.wrapper {
  display: flex;
  align-items: center;
  gap: 54px;
}

.btn {
  cursor: pointer;
}

.item,
.carousel,
.card {
  display: flex;
}

/* .carousel-wrapper {
  width: 760px;
  margin: 0px auto;
  overflow: hidden;
} */

.card {
  width: 240px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .item {
  gap: 20px;
}

.carousel {
  position: relative;
  left: -760px;
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {
    left: -760px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-right {
  from {
    left: -760px;
  }
  to {
    left: -1520px;
  }
} */

.carousel-wrapper {
  width: 990px;
  margin: 0px auto;
  overflow: hidden;
}

.item {
  gap: 135px;
}

.carousel {
  position: relative;
  left: -990px;
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}

.hidden {
  display: none;
}

@media (max-width: 1279.9px) {
  .item {
    gap: 20px;
  }

  .carousel-wrapper {
    width: 507px;
    margin: 0px auto;
    overflow: hidden;
  }

  .carousel {
    left: -507px;
  }

  @keyframes move-left {
    from {
      left: -507px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes move-right {
    from {
      left: -507px;
    }
    to {
      left: -1014px;
    }
  }
}

@media (max-width: 767.9px) {
  .item {
    gap: 20px;
  }

  .carousel-wrapper {
    width: 254px;
    margin: 0px auto;
    overflow: hidden;
  }

  .carousel {
    left: -254px;
  }

  @keyframes move-left {
    from {
      left: -254px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes move-right {
    from {
      left: -254px;
    }
    to {
      left: -508px;
    }
  }
}
