.wrapper {
  display: flex;
  align-items: center;
}

.btn {
  cursor: pointer;
  font-size: 100px;
  width: 100px;
}

.item,
.carousel,
.card {
  display: flex;
}

.carousel-wrapper {
  width: 900px;
  margin: 0 20px;
  overflow: hidden;
}

.card {
  width: 200px;
  height: 200px;
  /* background: red; */
  justify-content: center;
  align-items: center;
  font-size: 100px;
  cursor: pointer;
}

/* .card.activated {
  background: #ccc;
}

.item:first-child .card {
  background: LawnGreen;
}

.item:last-child .card {
  background: LightSkyBlue;
} */

.item {
  gap: 20px;
}

.carousel {
  position: relative;
  left: -640px;
}

@keyframes move-right {
  from {
    left: -750px;
  }
  to {
    left: -1580px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {
    left: -640px;
  }
  to {
    left: 0px;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}

.hidden {
  display: none;
}
