.our-friendsslider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3.313rem;
}

#main-page .our-friendsslider-container {
  max-width: 75rem;
  gap: 3.313rem;
}

#pets-page .our-friendsslider-container {
  gap: 3.313rem;
}
