.our-friendsslider-inner-container {
  max-width: 61.875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5.625rem;
}

#pets-page .our-friendsslider-inner-container {
  max-width: 73rem;
  flex-wrap: wrap;
  gap: 1.875rem;
}
