.nav__logo-description {
  color: var(--color__logo-description);
  font-size: var(--font-size__logo-description);
  font-family: var(--font-family__logo-description);
  letter-spacing: 0.1em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  margin: 0;
}

#pets-page .nav__logo-description {
  color: var(--color__sections__h2);
}
