.buttonoutlined_disabled {
  color: var(--color-element_disabled);
  border: 2px solid var(--color-element_disabled);
}

.buttonoutlined_disabled:hover {
  pointer-events: none;
  background-color: transparent;
}

.buttonoutlined_disabled-elevated {
  pointer-events: none;
  background-color: var(--colorprimary_dark);
  border: 2px solid var(--colorprimary_dark);
}
