#our-friends .sliderbutton .buttonoutlined.width {
  width: 3.25rem;
}

.buttonoutlined img {
  display: block;
  margin: auto;
}

.sliderbutton {
  display: flex;
  justify-content: center;
  align-self: start;
  padding-bottom: 6.3rem;
}
