.button__outlined {
  background-color: transparent;
  border: 2px solid var(--colorprimary_light);
}

.button__outlined:hover {
  background-color: var(--colorprimary_light);
  cursor: pointer;
}

#our-friends .button__outlined.width {
  width: 11.688rem;
}
