.footerlink {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1.25rem;
  flex-direction: row;
  min-width: 302px;

  color: var(--colorprimary_dark);
  font-family: var(--font-familygeorgia);
  font-size: var(--font-sizeh3);
  line-height: var(--line-heightp-115);
  letter-spacing: var(--letter-spacing_h);
  text-decoration: none;
}

.footerlink:hover {
  color: var(--colorprimary_light);
}
