#help.about__back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 6.25rem;
  gap: 3.75rem;
  max-width: 75rem;
  margin: auto;
}
