.buttonelevated {
  background-color: var(--colorprimary_dark);
  border: none;
}

.buttonelevated:hover {
  background-color: var(--colorprimary_light);
  cursor: pointer;
}

#hero .buttonelevated.width {
  width: 12.938rem;
}

#our-friends .buttonelevated.width {
  width: 16.313rem;
}
