.help__flex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  min-width: 4.6rem;
  padding: 0 1.625rem;
}

#help img {
  width: 3.75rem;
  height: 3.75rem;
}
