.navlink {
  color: var(--font-colornavlink);
  text-decoration: none;
  font-family: var(--font-familyarial);
}

.navlink:hover {
  color: var(--font-colornavlink_active);
}

#pets-page .navlink {
  color: var(--font-colornavlink_dark);
  font-family: var(--font-familyarial);
}

#pets-page .navlink:hover {
  color: var(--font-colornavlink_dark_active);
}
